<div class='swagger-ui'>
<div class="wrapper">
<section class="block col-12 block-desktop col-12-desktop">
<div>
       
<h2>Utilities</h2>

<ul>
    <li><a href="{{url_for('view_forms_post')}}">HTML form</a> that posts to /post /forms/post</li>
    <li><a href='//now.httpbin.org'>now.httpbin.org</a> The current time, in a variety of formats."</li>
</ul>

    
<p>Freely hosted in <a href="http://httpbin.org">HTTP</a>, <a href="https://httpbin.org">HTTPS</a>, &amp; <a href="http://eu.httpbin.org/">EU</a> flavors by <a href="http://kennethreitz.org/bitcoin">Kenneth Reitz</a> &amp; <a href="https://www.heroku.com/python">Heroku</a>.</p>

<h2 id="Installing-and-running-from-PyPI">Installing and running from PyPI</h2>

<p>You can install httpbin as a library from PyPI and run it as a WSGI app.  For example, using Gunicorn:</p>

<pre><code class="bash">$ pip install httpbin
$ gunicorn httpbin:app
</code></pre>

<h2>Running with docker</h2>
<code>$ docker run -p 80:80 kennethreitz/httpbin</code>


<h2 id="AUTHOR">AUTHOR</h2>

<p>A <a href="http://kennethreitz.com/">Kenneth Reitz</a> project.</p>
<p>BTC: <a href="https://www.kennethreitz.org/bitcoin"><code>1Me2iXTJ91FYZhrGvaGaRDCBtnZ4KdxCug</code></a></p>

<h2 id="SEE-ALSO">SEE ALSO</h2>

<p><a href="https://www.hurl.it">Hurl.it</a> - Make HTTP requests.</p>
<p><a href="http://requestb.in">RequestBin</a> - Inspect HTTP requests.</p>
<p><a href="http://python-requests.org" data-bare-link="true">http://python-requests.org</a></p>


<h2>Legacy httpbin website</h2>
To access the old layout <a href='{{url_for("view_landing_page")}}'>click here</a>
<br /><br />
</div>
</section>
</div>
</div>
