[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "~=2.2.4"
meinheld = "*"
werkzeug = "~=2.3"
six = "*"
flasgger = "*"
pyyaml = "~=6.0.1"

[dev-packages]
rope = "*"
