[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "~=2.2.4"
meinheld = "*"
werkzeug = "~=2.1"
six = "*"
flasgger = "*"
pyyaml = {git = "https://github.com/yaml/pyyaml.git"}

[dev-packages]
rope = "*"
