Flask==0.8
Flask-Script==0.3.1
Jinja2==2.5.5
Werkzeug==0.8.1
argparse==1.2.1
blinker==1.2
decorator==3.3.2
distribute==0.6.15
eventlet==0.9.16
greenlet==0.3.1
gunicorn==0.13.4
newrelic==1.2.1.265
raven==1.9.3
simplejson==2.4.0
wsgiref==0.1.2
